body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  background-color: #aa1822;
}

.header {
  background-color: #aa1822;
  flex: 3;
  text-align: right;
  color: #f1ecec;
  font-size: 12rem;

  font-family:"Titan One", sans-serif;
  font-style: normal;
}

.logo {
  margin-top: 0;
  margin-right: 100px;
  margin-bottom: -20px;
}

.content {
  flex: 5 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #aa1822;
}


.entry {
  border-left-style: solid;
  border-left-width: 1px;
  border-color: #17171c;
  margin-left: 15%;
  padding-bottom: 10px;

  color: #f1ecec;
  flex: .7
}

.entrydatestamp {
  font-size: xx-small;
  margin-left: 5px;
  margin-top: 0;
}

.entrycontents {
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.ribbon {
  color: #e9ad18;
  width: 66%;
  margin-right: 0;
  margin-top: 0;
}


.footer {
  flex: 1 0;
  background: 
    radial-gradient(circle at center, #f1ecec 5px, transparent 0) -20px 20px,
    radial-gradient(circle at center, #f1ecec 5px, transparent 0) 0px -20px,
    linear-gradient(140deg, #aa1822 25%, transparent 25%) -20px 0,
    linear-gradient(-140deg, #aa1822 25%, transparent 25%) -20px 0,
    linear-gradient(40deg, #aa1822 25%, transparent 25%),
    linear-gradient(-40deg, #aa1822 25%, transparent 25%),
    linear-gradient(180deg, #aa1822 40%, #f1ecec 25%) 0 60px;

  background-size: 40px 60px;
  background-repeat: repeat-x;
  background-color: #f1ecec;
}

